html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  background-color: #fff8f0;
}

form {
  padding: 20px;
  margin-top: 60px;
  border: double 3px black;
}

form button,
form h5 {
  margin: 20px, 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ff9800;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ff9800 !important;
}

.border {
  border: double 3px black;
}

@media only screen and (max-width: 444px){
  nav ul a {
    font-size: .8em;
  }
  nav .brand-logo{
    font-size: 1.5em;
  }
}